.contactFormContainer {
    display: flex;
    justify-content: center;
}

.img-profile {
    width: 100% !important;
    margin-left: auto;
    margin-right: auto;
}

.img-logo-size {
    height: 40px;
    width: 40px;
}

.d-flex-centered {
    display: flex;
    align-items: center;
}

.logo-text-style {
    font-size: 15px;
    color: white;
}

.ml-5px {
    margin-left: 5px;
}

.mt-10px {
    margin-top: 10px;
}